mdrecords/mdrecords-contract/MDRecordsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for MDRecords.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mdrecords.sirs.tecnico.ulisboa.pt/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDRecordsService" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/">

    <!--  XML Schema Definition (XSD) of data types. -->
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/" version="1.0">
            <xs:element name="BadReadRecord" type="tns:BadReadRecord" />
            <xs:element name="readRecord" type="tns:readRecord" />
            <xs:element name="readRecordResponse" type="tns:readRecordResponse" />

            <xs:complexType name="readRecord">
                <xs:sequence>
                    <xs:element minOccurs="0" name="patient_id" type="xs:long" />
                    <xs:element minOccurs="0" name="personal_id" type="xs:long" />
                    <xs:element minOccurs="0" name="recordType" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="readRecordResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadReadRecord">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
<!--
            <xs:complexType name="writeRecord">
                <xs:sequence>
                     <xs:element minOccurs="0" name="patient_id" type="xs:long" />
                    <xs:element minOccurs="0" name="personal_id" type="xs:long" />
                    <xs:element minOccurs="0" name="recordType" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="writeRecordResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadWriteRecord">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="personType" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="identification" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadcreatePerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createNursePatientRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="patient_id" type="xs:long" />
                    <xs:element minOccurs="0" name="nurse_id" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createNursePatientRelationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadCreateNursePatientRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createDoctorPatientRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="patient_id" type="xs:long" />
                    <xs:element minOccurs="0" name="nurse_id" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createDoctorPatientRelationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadCreateDoctorPatientRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            -->

        </xs:schema>
    </types>

    <!--  Messages use elements defined in the schema. -->
    <message name="readRecord">
        <part element="tns:readRecord" name="parameters" />
    </message>
    <message name="readRecordResponse">
        <part element="tns:readRecordResponse" name="parameters" />
    </message>
    <message name="BadReadRecord">
        <part element="tns:BadReadRecord" name="fault" />
    </message>

    <!--  Port type (interface). -->
    <!--  Each operation has input, output and fault messages. -->
    <portType name="MDRecordsPortType">
        <operation name="readRecord">
            <input message="tns:readRecord" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecord" />
            <output message="tns:readRecordResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecordResponse" />
            <fault message="tns:BadReadRecord" name="BadReadRecord" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecord/Fault/BadReadRecord" />
        </operation>
    </portType>

    <!--  Binding defines the actual technologies to use. -->
    <binding name="MDRecordsPortBinding" type="tns:MDRecordsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="readRecord">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadReadRecord">
                <soap:fault name="BadReadRecord" use="literal" />
            </fault>
        </operation>
    </binding>

    <!--  Service defines ports. -->
    <!--  Each port is an abstract port type made concrete by a binding. -->
    <service name="MDRecordsService">
        <port binding="tns:MDRecordsPortBinding" name="MDRecordsPort">
            <soap:address location="http://localhost:8888/mdrecords" />
        </port>
    </service>
</definitions>
