mdrecords/mdrecords-contract/MDRecordsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for MDRecords.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mdrecords.sirs.tecnico.ulisboa.pt/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDRecordsService" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/">

    <!--  XML Schema Definition (XSD) of data types. -->
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/" version="1.0">
            <xs:element name="BadRecordRequest" type="tns:BadRecordRequest" />
            <xs:element name="requestRecord" type="tns:requestRecord" />
            <xs:element name="requestRecordResponse" type="tns:requestRecordResponse" />

            <xs:complexType name="requestRecord">
                <xs:sequence>
                    <xs:element minOccurs="0" name="patient_id" type="xs:string" />
                    <xs:element minOccurs="0" name="personal_id" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestRecordResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadRecordRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>

    <!--  Messages use elements defined in the schema. -->
    <message name="requestRecord">
        <part element="tns:requestRecord" name="parameters" />
    </message>
    <message name="requestRecordResponse">
        <part element="tns:requestRecordResponse" name="parameters" />
    </message>
    <message name="BadRecordRequest">
        <part element="tns:BadRecordRequest" name="fault" />
    </message>

    <!--  Port type (interface). -->
    <!--  Each operation has input, output and fault messages. -->
    <portType name="MDRecordsPortType">
        <operation name="requestRecord">
            <input message="tns:requestRecord" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestRecordRequest" />
            <output message="tns:requestRecordResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestRecordResponse" />
            <fault message="tns:BadRecordRequest" name="BadRecordRequest" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestRecord/Fault/BadRecordRequest" />
        </operation>
    </portType>

    <!--  Binding defines the actual technologies to use. -->
    <binding name="MDRecordsPortBinding" type="tns:MDRecordsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="requestRecord">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadRecordRequest">
                <soap:fault name="BadRecordRequest" use="literal" />
            </fault>
        </operation>
    </binding>

    <!--  Service defines ports. -->
    <!--  Each port is an abstract port type made concrete by a binding. -->
    <service name="MDRecordsService">
        <port binding="tns:MDRecordsPortBinding" name="MDRecordsPort">
            <soap:address location="http://localhost:8888/mdrecords" />
        </port>
    </service>
</definitions>
