mdrecords/mdrecords-contract/MDRecordsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for MDRecords.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mdrecords.sirs.tecnico.ulisboa.pt/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDRecordsService" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/">

    <!--  XML Schema Definition (XSD) of data types. -->
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mdrecords.sirs.tecnico.ulisboa.pt/" version="1.0">
            <xs:element name="BadRequestInformation" type="tns:BadRequestInformation" />
            <xs:element name="requestInformation" type="tns:requestInformation" />
            <xs:element name="requestInformationResponse" type="tns:requestInformationResponse" />

            <xs:complexType name="requestInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="requestType" type="xs:string" />
                    <xs:element minOccurs="0" name="requestObject" type="xs:string" />
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="myId" type="xs:long" />
                    <xs:element minOccurs="0" name="requestWhomId" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestInformationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadRequestInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddReport" type="tns:BadAddReport" />
            <xs:element name="addReport" type="tns:addReport" />
            <xs:element name="addReportResponse" type="tns:addReportResponse" />

            <xs:complexType name="addReport">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="personalId" type="xs:long" />
                    <xs:element minOccurs="0" name="patientId" type="xs:long" />
                    <xs:element minOccurs="0" name="speciality" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="digest" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addReportResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddReport">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddMedication" type="tns:BadAddMedication" />
            <xs:element name="addMedication" type="tns:addMedication" />
            <xs:element name="addMedicationResponse" type="tns:addMedicationResponse" />

            <xs:complexType name="addMedication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="personalId" type="xs:long" />
                    <xs:element minOccurs="0" name="patientId" type="xs:long" />
                    <xs:element minOccurs="0" name="speciality" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="digest" type="xs:string" />
                    <xs:element minOccurs="0" name="drug" type="xs:string" />
                    <xs:element minOccurs="0" name="usage" type="xs:float" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addMedicationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddMedication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddGeneric" type="tns:BadAddGeneric" />
            <xs:element name="addGeneric" type="tns:addGeneric" />
            <xs:element name="addGenericResponse" type="tns:addGenericResponse" />

            <xs:complexType name="addGeneric">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="personalId" type="xs:long" />
                    <xs:element minOccurs="0" name="patientId" type="xs:long" />
                    <xs:element minOccurs="0" name="speciality" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="digest" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addGenericResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddGeneric">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddExam" type="tns:BadAddExam" />
            <xs:element name="addExam" type="tns:addExam" />
            <xs:element name="addExamResponse" type="tns:addExamResponse" />

            <xs:complexType name="addExam">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="personalId" type="xs:long" />
                    <xs:element minOccurs="0" name="patientId" type="xs:long" />
                    <xs:element minOccurs="0" name="speciality" type="xs:string" />
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="digest" type="xs:string" />
                    <xs:element minOccurs="0" name="examName" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addExamResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddExam">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddRelation" type="tns:BadAddRelation" />
            <xs:element name="addRelation" type="tns:addRelation" />
            <xs:element name="addRelationResponse" type="tns:addRelationResponse" />

             <xs:complexType name="addRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myType" type="xs:string" />
                    <xs:element minOccurs="0" name="myId" type="xs:long" />
                    <xs:element minOccurs="0" name="patientId" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addRelationResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddRelation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BadAddIdentity" type="tns:BadAddIdentity" />
            <xs:element name="addIdentity" type="tns:addIdentity" />
            <xs:element name="addIdentityResponse" type="tns:addIdentityResponse" />

             <xs:complexType name="addIdentity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="type" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="identification" type="xs:long" />
                    <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addIdentityResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadAddIdentity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>


        </xs:schema>
    </types>

    <!--  Messages use elements defined in the schema. -->
    <message name="requestInformation">
        <part element="tns:requestInformation" name="parameters" />
    </message>
    <message name="requestInformationResponse">
        <part element="tns:requestInformationResponse" name="parameters" />
    </message>
    <message name="BadRequestInformation">
        <part element="tns:BadRequestInformation" name="fault" />
    </message>

    <message name="addReport">
        <part element="tns:addReport" name="parameters" />
    </message>
    <message name="addReportResponse">
        <part element="tns:addReportResponse" name="parameters" />
    </message>
    <message name="BadAddReport">
        <part element="tns:BadAddReport" name="fault" />
    </message>

    <message name="addMedication">
        <part element="tns:addMedication" name="parameters" />
    </message>
    <message name="addMedicationResponse">
        <part element="tns:addMedicationResponse" name="parameters" />
    </message>
    <message name="BadAddMedication">
        <part element="tns:BadAddMedication" name="fault" />
    </message>

    <message name="addGeneric">
        <part element="tns:addGeneric" name="parameters" />
    </message>
    <message name="addGenericResponse">
        <part element="tns:addGenericResponse" name="parameters" />
    </message>
    <message name="BadAddGeneric">
        <part element="tns:BadAddGeneric" name="fault" />
    </message>

    <message name="addExam">
        <part element="tns:addExam" name="parameters" />
    </message>
    <message name="addExamResponse">
        <part element="tns:addExamResponse" name="parameters" />
    </message>
    <message name="BadAddExam">
        <part element="tns:BadAddExam" name="fault" />
    </message>

    <message name="addRelation">
        <part element="tns:addRelation" name="parameters" />
    </message>
    <message name="addRelationResponse">
        <part element="tns:addRelationResponse" name="parameters" />
    </message>
    <message name="BadAddRelation">
        <part element="tns:BadAddRelation" name="fault" />
    </message>

    <message name="addIdentity">
        <part element="tns:addIdentity" name="parameters" />
    </message>
    <message name="addIdentityResponse">
        <part element="tns:addIdentityResponse" name="parameters" />
    </message>
    <message name="BadAddIdentity">
        <part element="tns:BadAddIdentity" name="fault" />
    </message>

    <!--  Port type (interface). -->
    <!--  Each operation has input, output and fault messages. -->
    <portType name="MDRecordsPortType">
        <operation name="requestInformation">
            <input message="tns:requestInformation" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestInformation" />
            <output message="tns:requestInformationResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestInformationResponse" />
            <fault message="tns:BadRequestInformation" name="BadRequestInformation" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecord/Fault/BadRequestInformation" />
        </operation>

         <operation name="addReport">
            <input message="tns:addReport" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReport" />
            <output message="tns:addReportResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReportResponse" />
            <fault message="tns:BadAddReport" name="BadAddReport" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReport/Fault/BadAddReport" />
        </operation>

        <operation name="addMedication">
            <input message="tns:addMedication" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addMedication" />
            <output message="tns:addMedicationResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addMedicationResponse" />
            <fault message="tns:BadAddMedication" name="BadAddMedication" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReport/Fault/BadAddMedication" />
        </operation>

        <operation name="addGeneric">
            <input message="tns:addGeneric" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addGeneric" />
            <output message="tns:addGenericResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addGenericResponse" />
            <fault message="tns:BadAddGeneric" name="BadAddGeneric" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReport/Fault/BadAddGeneric" />
        </operation>

        <operation name="addExam">
            <input message="tns:addExam" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addExam" />
            <output message="tns:addExamResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addExamResponse" />
            <fault message="tns:BadAddExam" name="BadAddExam" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addReport/Fault/BadAddExam" />
        </operation>

        <operation name="addRelation">
            <input message="tns:addRelation" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addRelation" />
            <output message="tns:addRelationResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/requestInformationResponse" />
            <fault message="tns:BadAddRelation" name="BadAddRelation" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecord/Fault/BadAddRelation" />
        </operation>

        <operation name="addIdentity">
            <input message="tns:addIdentity" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addIdentity" />
            <output message="tns:addIdentityResponse" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/addIdentityResponse" />
            <fault message="tns:BadAddIdentity" name="BadAddIdentity" wsam:Action="http://mdrecords.sirs.tecnico.ulisboa.pt/MDRecordsPortType/readRecord/Fault/BadAddIdentity" />
        </operation>
    </portType>

    <!--  Binding defines the actual technologies to use. -->
    <binding name="MDRecordsPortBinding" type="tns:MDRecordsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="requestInformation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadRequestInformation">
                <soap:fault name="BadRequestInformation" use="literal" />
            </fault>
        </operation>

        <operation name="addReport">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddReport">
                <soap:fault name="BadAddReport" use="literal" />
            </fault>
        </operation>

        <operation name="addMedication">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddMedication">
                <soap:fault name="BadAddMedication" use="literal" />
            </fault>
        </operation>

        <operation name="addGeneric">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddGeneric">
                <soap:fault name="BadAddGeneric" use="literal" />
            </fault>
        </operation>

        <operation name="addExam">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddExam">
                <soap:fault name="BadAddExam" use="literal" />
            </fault>
        </operation>

        <operation name="addRelation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddRelation">
                <soap:fault name="BadAddRelation" use="literal" />
            </fault>
        </operation>

        <operation name="addIdentity">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadAddIdentity">
                <soap:fault name="BadAddIdentity" use="literal" />
            </fault>
        </operation>

    </binding>

    <!--  Service defines ports. -->
    <!--  Each port is an abstract port type made concrete by a binding. -->
    <service name="MDRecordsService">
        <port binding="tns:MDRecordsPortBinding" name="MDRecordsPort">
            <soap:address location="http://localhost:8888/mdrecords" />
        </port>
    </service>
</definitions>
